html, body {
  height: 100%; /* Ensure html and body take up the full height of the viewport */
  margin: 0;
  background-color: #ffffff;
  color: #212529;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /*  Ensure the container is at least the height of the viewport */
}

main {
  flex: 1; /* This makes the main content area grow and push the footer down */
}

.footer {
  margin-top: auto; /* Pushes the footer to the bottom of the flex container */
  padding: 10px;
  text-align: center;
}

.bbbody {
    background-color: #ffffff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.nfc_east {
    background-color: #f8d794;
    color: #ba6830;
}

.rotate90 {
    transform: rotate(270deg);
}

.video {
    text-align: center;
    margin: 0;
    padding: 0;
}

.jjvid {
    text-align: center;
    display: flex;
}

.video1 {
    background-color: #f5f3e4;
    text-align: center;
    height: 100%;
}

.cccontainer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}


